.navbar {
    background-color: var(--clr-blue-navbar-blr);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar_wrapper {
    display: flex;
    gap: 25px;
    max-width: 1150px;
    margin: 0 auto;
}

.navbar_link {
    color: var(--clr-white-primary);
    font-size: 20px;
    
}

.navbar_link:hover {
    color: var(--clr-light-blue);
}